<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>itlyst - email confirmation success</title> 
    <link href="/static/css/ionic.css" rel="stylesheet">
  </head>

<br>
<p>Success! You're now registered. You should receive an email to download itlyst on the iPhone via test flight within 24-48 hours.</p>

<p>Next, download itlyst <a href='https://chrome.google.com/webstore/detail/itlyst/ecfgefcjfjkbmmcaegehencgpjokoagp' target="_blank">Chrome Extension</a>.</p>

<p><a href='{{itlyst_web_hostname}}'>Or go back to itlyst</a></p>


