
<html>
  <head>
    <title>Nom Notes</title>
    <meta charset="utf-8">

  </head>
  <body>
    <p style="color:red">{{ msg }}</p>


    <h3>Database Adminstration</h3>

      <ul>
        <li> Create table: 
          {% for table in table_classes %}
            <a href='/admin/api/v1/createtable/{{ table }}'>{{ table }}</a>, 
          {% endfor %}
        </li>
        <li> Drop table: 
          {% for table in table_classes %}
            <a href='/admin/api/v1/droptable/{{ table }}'>{{ table }}</a>, 
          {% endfor %}
        </li>
        
        <li> Truncate table: 
          {% for table in table_names %}
            <a href='/admin/api/v1/truncatetable/{{ table }}'>{{ table }}</a>, 
          {% endfor %}
        </li>
        
      </ul>

    <!--
    <h2>Admin Pages</h2>
    <ul>
      <li>Views</li>
        <ul>
        </ul>
      <li>Database</li>
        <ul>
          <v><a href=/updateparentcategory>Update Parent Categories</a>. Updates the parent category attribute on the location table based on existing categories</li>
        </ul>
      <li>API</li>
        <ul>
          <li><a href=/addurl>Add Saved Url Database</a>. Adds a url via post, used via the chrome extension</li>
          <li><a href=/addnote>Add Note</a>. Adds a note via post, used via the chrome extension</li>
      </ul>
    </ul>
    -->

  </body>

</html>




