<head>

	<style>
		.appicon {
			width: 60px ;
		}
	</style>

</head>

<p>Welcome to itlyst!</p>

<p>The itlyst chrome extension allows you to save tips and pics from your favorite review sites easily. First, you need to use Chrome. Next, install the extension and login:</p>

<a href="https://chrome.google.com/webstore/detail/itlyst/ecfgefcjfjkbmmcaegehencgpjokoagp" target="_">Get itlyst for Chrome</a>

<h3>Using the Extension</h3>

<p>Let's add your first note using the extension. Click any icon to see reviews for Pizzeria Mozza in LA:</p>

<span>
	<a href="https://www.yelp.com/biz/pizzeria-mozza-los-angeles" target="_">
		<img src="{{server_web}}/img/yelp-app-icon.jpeg" class="appicon"></a>
	<a href="https://foursquare.com/v/pizzeria-mozza/4724d2d5f964a520d74b1fe3" target="_">
		<img src="{{server_web}}/img/foursquare-app-icon.jpg" class="appicon"></a>
	<a href="https://www.tripadvisor.com/Restaurant_Review-g32655-d782715-Reviews-Pizzeria_Mozza-Los_Angeles_California.html" target="_">
		<img src="{{server_web}}/img/tripadvisor-app-icon.jpeg" class="appicon"></a>
</span>


<div>
  <h4>Save Note: Highlight Text > Right Click > Save to Itlyst</h4>
  itlyst will save the text<br>
  <img src="{{server_web}}/img/ftue-savetext.png" style="width:250px">
  <br>
</div>

<h3>... or ...</h3>

<div>
  <h4>Save Image: Find an Image > Right Click > Save to Itlyst</h4>
  itlyst will save the image<br>
  <img src="{{server_web}}/img/ftue-saveimg.png" style="width:250px"> 
</div>

<div>
  <p><a href="{{server_web}}">{{server_web}}</a></p>
</div>

